// body {
//   font-family: Helvetica;
// }

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body {
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
   // "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
   // sans-serif;
    font-family: 'Montserrat', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// app 
.landing-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;

  // background: rgb(43,47,130);
  // background: linear-gradient(90deg, rgba(43,47,130,1) 0%, rgba(57,63,174,1) 50%, rgba(43,47,130,1) 100%);
  background-color: white;
  shape-outside: circle(45%);
	display: flex;
  flex-direction: column;
  z-index: 100;
  height: 100vh;
}


.rounded-transition{
	z-index: -1;
	background-color:black;
  background: rgb(43,47,130);
  background: linear-gradient(90deg, rgba(43,47,130,1) 0%, rgba(57,63,174,1) 50%, rgba(43,47,130,1) 100%);

	position: relative;
  bottom : -40px;
  width:100%;
  height:50px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}





.filtered-out {
	  filter: brightness(50%);
	  z-index: -1;

}

//navbar
.navbar{
  height: 70px;
    min-height: 65px !important;
    background-color: #f4f4f794;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
  .navbar-brand {
    height: auto;}
}

.navbar-links {
	display: flex;
	flex-direction: row;
}

.navbar-brand img {
  width: 200px;
}





//box





.ctas-container{
/*  align-content: center;
  align-items: center;
  justify-content: space-around;*/
margin-left: auto;
margin-right: auto;
  width: 430px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.language-boxes-container{
  align-content: center;



  position: relative;
  bottom : -48px;

    // max-width: 600px;
  margin-left: auto;
    margin-right: auto;
justify-content: space-between;
display: flex;
flex-direction: row;

  // background-color: rgba(255,255,255,0.5);


}

.language-box{
  width: 120px;
  height: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 10px;
  background-color: #dadbf7;
  padding: 20px 0;

}



.language-box-lower{
	display: flex;
	flex-direction: row;
	  justify-content: space-evenly;

}


.face-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
// margin-left: auto;
// margin-right: auto;

    left: 20px;
    // top: 6px;
    position: relative;



}

  .language-icon{
    width: 20px;
  height: 20px;
  position: relative;
 //  left: 10px;
 // bottom: 10px;
  // margin: 10px 10px;
  }

  .step-icon{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;


  }

.background-image {
      z-index: -1;

    min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; 

}




.nav-link {
  margin-top: 00;
  color: #484fda !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  padding-top: 20px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.login-btn, .issue-btn{
  background-color: #484fda;
  // background-color : #da484f;
  // border-color:  #c44047;
  color: white;


}

.login-btn{
	margin-top: 17px;
	  height:35px;
}

.issue-btn, .solver-btn{
  height:50px;
  width: 200px;
  font-size: 23px;
  font-weight: 300;


}

.solver-btn{
      line-height: 35px !important;

  color: #da484f !important;
  border-width: 1px !important;
  border-color: #da484f !important;
}

.issue-btn {
// 	 font-weight: 400 !important;

  	padding-top: 8px;

}


.solver-btn {
  background-color : white;
  opacity: 0.65;
  border-color:  #e5e5e5;
  color: #484fda;
  font-size: 19px !important;
      line-height: 34px;


}

.login-btn:hover, .issue-btn:hover {
    background-color : #c44047;
    border-color:  #ae393f;
    
  color: white;

}

.banner {
/*  display: flex;
  flex-direction: column;
    justify-content: space-evenly;

  height:200px;*/
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 4.5% 0;
  background-color: #ffda2d;
  margin-bottom: 34px;

}

.banner h1 {
/*  margin: 0;
*/  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: #484fda;
  letter-spacing: 1.7px;
  font-weight: 300;
  font-size: 25px;
  padding: 0 0 25px;
}

.banner .signup-btn {
margin-top: 20px;
}


.step-circles-container{
  align-content: center;
  position: relative;
  bottom : 0px;
  // margin-top: 110px;

    // max-width: 600px;
  margin-left: auto;
  margin-right: auto;
justify-content: space-between;
display: flex;
flex-direction: row;



  // background-color: rgba(255,255,255,0.5);


}

.step-circle{
  width: 255px;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 15px;
    text-align: center;
    background-color: #ececf133;
    padding: 50px 0;
    box-shadow: 0 6px 0px #979cff;
    border: 1px solid #cccccc4a;
    border-bottom: 0;

  p{
    width: auto;
    font-size: 18px;
    font-weight: 500;
    color: black;
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 22px;
  }




}
.ctas-container a.btn {
  border-radius: 0;border: none;
}
.ctas-container a.btn:hover {
  background-color: #ffffff;
  color: #484fda;
}
.ctas-container a.solver-btn {
  background-color: #e63950;
  border: none;
  color: #fff !important;
}
.ctas-container a.solver-btn:hover{color: #484fda !important;}
  #computer, #star{
    margin-top: 0 !important;
  }


/*.signup-btn {
  height: 70px;
  width: 100px;
  font-size: 

}*/

 


